@page
@model Server.Pages.AboutModel

@{
    var pageTitle =
        Resources.PageTitles.Melikabano_About;

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="p-3 border rounded-3 bg-light mt-2 shadow-lg">
        <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
            <i class="bi bi-telephone"></i> @(pageTitle)
        </h3>

        <p>آیا می دانید تصاویر چاپ شده در لباس ها و لوازم التحریر به شکل غیر مستقیم تبدیل به آموزه های اخلاقی و رفتاری کودکان تان میشود ؟؟؟؟</p>
        <br />
        <p>پس در خرید های خود دقت کنیم❌</p>
        <br />
        <p>در راستای ترویج فرهنگ غنی ایرانی اسلامی ما با تولید محصولاتی که آموزه های اخلاقی از جمله *حجاب* را در اذهان کودکانتان تقویت می کنند ، برآنیم تا قدمی هر چند کوتاه در جهاد فرهنگی برداریم.</p>
        <br />
        <p>با خرید این محصولات جهادگران این عرصه را یاری نمایید.</p>
        <br />
        <p> _مدافعان حریم حیا و عفّت_</p>
        <br />
        <p>استقبال شما باعث دلگرمی ما در این جهاد فرهنگی است .</p>
    </div>
</div>