@page
@model Server.Pages.CategoryModel
@{
    var pageTitle =
        Resources.DataDictionary.Category;

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />
<div class="w-100 border"></div>
<br />
<br />

<div class="container">
    <div class="row border rounded-3 p-2 bg-light mt-2 shadow-lg">
        <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
            <i class="bi bi-grid"></i> @(Resources.DataDictionary.Category)
        </h3>
        @foreach (var item in Model.ViewModelCategory)
        {
            string pic = $"{item.Name}.png";
            <div class="col-3 col-lg-1" style="text-align : center;">
                <a asp-route-id="@(item.Id)" class="text-decoration-none" asp-page="/CategoryProducts">
                    <img class="rounded-circle" width="60" height="60" src="~/CategoryPic/@(pic)" />
                    <h5 class="text-muted">@(item.Name)</h5>
                </a>
            </div>
        }
    </div>
</div>