@page
@model Server.Pages.ContactModel

@{
    var pageTitle =
        Resources.PageTitles.Contact;

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="p-3 border rounded-3 bg-light mt-2 shadow-lg">
        <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
            <i class="bi bi-telephone"></i> @(pageTitle)
        </h3>

        <p>انبار مرکزی : مشهد - بولوار شهید اصلانی</p>
        <br />
        <p>شماره تماس : 09155591401</p>
    </div>
</div>