@page
@model Server.Pages.ContactModel

@{
    var pageTitle =
        Resources.PageTitles.Contact;

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />
<div class="w-100 border"></div>
<br />
<br />

<div class="container">
    <h3>
        @(pageTitle)
    </h3>

    <hr />
</div>