@page
@model Server.Pages.Manager.Sale.UpdateModel
@{
    var pageTitle = $"{Resources.PageTitles.AdminSettings} - {Resources.ButtonCaptions.Update} {Resources.DataDictionary.Sale}";

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Manager/_Layout";
}

<form method="post">
	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<input type="hidden" asp-for="ViewModel.Id" />

			<section-form-check>
				<input asp-for="ViewModel.Accepted" />
				<label asp-for="ViewModel.Accepted"></label>
			</section-form-check>

			<section-form-check>
				<label asp-for="ViewModel.Packing"></label>
				<input asp-for="ViewModel.Packing" />
			</section-form-check>

			<section-form-check>
				<label asp-for="ViewModel.Posted"></label>
				<input asp-for="ViewModel.Posted" />
			</section-form-check>

			<section-form-check>
				<label asp-for="ViewModel.Delivery"></label>
				<input asp-for="ViewModel.Delivery" />
			</section-form-check>
		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
			<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDetails())
			</a>
		</section-form-footer>
	</section-form>
</form>