@model Server.Pages.ProductsModel
@{
}

<div class="container">
    <form class="d-flex" method="post">
        <button class="d-flex btn btn-outline-danger" type="submit"><i class="bi bi-search"></i> <span class="d-none d-sm-inline">@(Resources.DataDictionary.Search)</span></button>
        <input asp-for="Search" class="d-flex form-control me-1 ms-1" placeholder="جست و جو ..." aria-label="Search">
    </form>
</div>