@model Server.Pages.IndexModel
@{
}

<div class="container">
    <form class="d-flex" method="post">
        <button class="d-flex btn btn-outline-danger" type="submit"><i class="bi bi-search"></i> @(Resources.DataDictionary.Search)</button>
        <input asp-for="Search" class="d-flex form-control me-1 ms-1" placeholder="نام کالای مورد نظر خودت رو اینجا جست و جو کن ..." aria-label="Search">
    </form>
</div>