@page
@model Server.Pages.Admin.IndexModel
@{
    Layout = "Layouts/Admin/Rtl/_Layout";
}

<section-page-body>

    <div class="row g-2">
        <div class="col-md-3 card">
            <a asp-page="/admin/users/index" class="text-white bg-primary text-decoration-none">
                <div class="card-body">
                    <h5 class="card-text text-center p-4">@(Resources.DataDictionary.Users)</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 card">
            <a asp-page="/admin/products/index" class="text-white bg-primary text-decoration-none">
                <div class="card-body">
                    <h5 class="card-text text-center p-4">@(Resources.DataDictionary.Products)</h5>
                </div>
            </a>
        </div>

        <div class="col-md-3 card">
            <a asp-page="/admin/Categories/index" class="text-white bg-primary text-decoration-none">
                <div class="card-body">
                    <h5 class="card-text text-center p-4">@(Resources.DataDictionary.Category)</h5>
                </div>
            </a>
        </div>

        <div class="col-md-3 card">
            <a asp-page="/admin/TotalSales/index" class="text-white bg-primary text-decoration-none">
                <div class="card-body">
                    <h5 class="card-text text-center p-4">@(Resources.DataDictionary.Sale)</h5>
                </div>
            </a>
        </div>

    </div>

</section-page-body>